main {
    max-width: 770px;
    margin: 0 auto;
}

.feedback {
    height: 600px;
    font-family: Arial, "sans-serif";
}

.abcjs-cursor {
    stroke: red;
}

.audio-error {
    color: red;
    border: 2px solid red;
    padding: 10px;
}

.click-explanation {
    color: red;
    font-style: italic;
}

.beat {
    font-weight: bold;
}

.abcjs-inline-audio .abcjs-btn {
    height: auto;
}

path:is( 
    [data-name="clefs.G"], 
    [data-name="clefs.F"],
    [data-name="accidentals.sharp"],
    [data-name="accidentals.flat"],
    [data-name="accidentals.nat"],
    [data-name="dots.dot"],     
    [data-name="flags.u8th"],     
    [data-name="flags.d8th"],     
    [data-name="flags.u16th"],     
    [data-name="flags.d16th"]     
) 
{
    fill: black  !important;
    stroke: none  !important;
}

path:is(
  [data-name^="C"], [data-name^="c"],
  [data-name^="_C"], [data-name^="_c"],
  [data-name^="^C"], [data-name^="^c"],
  [data-name^="=C"], [data-name^="=c"]
) 
{
    fill: rgb(168, 134, 90);
    stroke: rgb(168, 134, 90);
}

path:is(
  [data-name^="D"], [data-name^="d"],
  [data-name^="_D"], [data-name^="_d"],
  [data-name^="^D"], [data-name^="^d"],
  [data-name^="=D"], [data-name^="=d"]
) 
{
    fill: red;
    stroke: red;
}

path:is(
  [data-name^="E"], [data-name^="e"],
  [data-name^="_E"], [data-name^="_e"],
  [data-name^="^E"], [data-name^="^e"],
  [data-name^="=E"], [data-name^="=e"]
) 
{
    fill: orange;
    stroke: rgb(214, 141, 5);
}

path:is(
  [data-name^="F"], [data-name^="f"],
  [data-name^="_F"], [data-name^="_f"],
  [data-name^="^F"], [data-name^="^f"],
  [data-name^="=F"], [data-name^="=f"]
) {
    fill: yellow;
    stroke: rgb(221, 221, 6)
}

path:is(
  [data-name^="G"], [data-name^="g"],
  [data-name^="_G"], [data-name^="_g"],
  [data-name^="^G"], [data-name^="^g"],
  [data-name^="=G"], [data-name^="=g"]
) {
    fill: greenyellow;
    stroke: rgb(145, 214, 41);
}

path:is(
  [data-name^="A"], [data-name^="a"],
  [data-name^="_A"], [data-name^="_a"],
  [data-name^="^A"], [data-name^="^a"],
  [data-name^="=A"], [data-name^="=a"]
) {
    fill: rgb(0, 140, 255);
    stroke: rgb(0, 140, 255);
}

path:is(
  [data-name^="B"], [data-name^="b"],
  [data-name^="_B"], [data-name^="_b"],
  [data-name^="^B"], [data-name^="^b"],
  [data-name^="=B"], [data-name^="=b"]
) {
    fill: violet;
    stroke: rgb(184, 102, 184);
}

.abcjs-note_selected {
    stroke: black  !important;
}

.highlight {
    fill: darkcyan !important;
    stroke: darkcyan !important;

}

@media print {
    h1, p, textarea, #keyboard, #Izqda, #audio, #warnings, hr {
        display: none;
    }
}

@page { size: auto;  margin: 0mm; }